<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= post.user.user_name %>
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
    </div>
    <div class="post-bottom">
      <div class="caption">
    <div class="caption-content">
      <div class="user-name">
        <%= post.user.user_name %>
      </div>
      <%= post.caption %>
    </div>
  </div>
        <div class="comments" id="comments_<%= post.id %>">
          <% if post.comments %>
            <%= render post.comments, post: post %>
          <% end %>
          <div class="comment-like-form row">
            <span class="likes_count"> <%= post.likes.count %> </span> <%= 'likes'.pluralize(post.likes.count) %>
            <%= link_to "Likes", comment_likes_path(post), method: :post, class: 'likes-link' %>
            <a href="#">
              <span class="glyphicon glyphicon-unchecked"></span>
            </a>
            <div class="comment-form col-sm-11">
              <%= form_for([post, post.comments.build], remote: true) do |f| %>
              <%= f.text_field :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{post.id}" %>
              <div class="user-name">
        </div>
      </div>
    </div>
    <ul>
</ul>
      </div>
  <%= post.user.user_name %>
</div>
<% end %>
